// Define an Icon resource
icon	ICON	"./src/Guillendesign-Variations-3-Default-Icon.ico"
/* Icon downloaded from:
   https://iconarchive.com/show/variations-3-icons-by-guillendesign/Default-Icon-icon.html */
