/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 *
 * Copyright (c) 2021, Jeremy Goossen jeremyg995@gmail.com
 */
 
/*
Icon design by Aleksandr Reva
  https://www.iconfinder.com/icons/1059389/wallet_cash_coin_money_pay_icon
*/
icon  ICON  "./res/1059389_wallet_cash_coin_money_pay_icon.ico"

