// Define an Icon resource
icon  ICON  "./src/Custom-Icon-Design-Pretty-Office-11-Coin-us-dollar.ico"
/* Icon downloaded from:
   https://iconarchive.com/show/pretty-office-11-icons-by-custom-icon-design/coin-us-dollar-icon.html */
